<div class="modal intervention-edit">
   <h4 class="modal-header">Edit Intervention</h4>
   <div class="modal-content">
      <%= form_tag("/admin/interventions/", method: "put", class: "pure-form pure-form-aligned") do %>
         <fieldset>
            <input name ="listing_id" type="hidden" value="<%= @listing.id %>">
            <div class="pure-control-group" id="intervention-barcode-selector">
               <label class="pure-input-1-3">Barcode</label>
               <select class="pure-input-2-3" name="barcode">
                  <% @listing.barcodes.where("active=1").each do |bc|  %>
                     <option value="<%=bc.id%>"><%= bc.barcode %></option>
                  <% end %>
               </select>
            </div>
            <div class="pure-control-group">
               <label class="pure-input-1-3">Date Found</label>
               <input class="pure-input-2-3" name="found_at" type="text" placeholder="YYYY-MM-DD" value=""/>
            </div>
            <div class="pure-control-group">
               <label class="pure-input-1-3">Found By</label>
               <input class="pure-input-2-3" name="who_found" type="text" placeholder="Found By" value=""/>
            </div>
            <div class="pure-control-group">
               <label class="pure-input-1-3">Special Interest</label>
               <textarea class="pure-input-2-3" name="special_interest" type="text" placeholder="" ></textarea>
            </div>
            <div class="pure-control-group">
               <label class="pure-input-1-3">Special Problems</label>
               <textarea class="pure-input-2-3" name="special_problems" type="text" placeholder="" ></textarea>
            </div>
            <div class="pure-control-group">
               <label class="pure-input-1-3">Interventions</label>
               <div class="interventions-scroller pure-input-2-3">
                  <ul>
                  <% InterventionType.all.each do |it| %>
                     <li>
                        <label class="pure-checkbox">
                           <input name="interventions[]" type="checkbox" value="<%= it.id %>"><%= it.category.upcase %>: <%=it.name.capitalize %>
                        </label>
                     </li>
                  <% end %>
                  </ul>
               </div>
            </div>
         </fieldset>
      <% end %>
      <div class="modal-controls">
          <button class="pure-button cancel">Cancel</button>
          <button class="pure-button submit">Submit</button>
      </div>
   </div>
</div>
