<div class="modal status-edit">
   <h4 class="modal-header">Edit Book Status</h4>
   <div class="modal-content">
      <%= form_tag("/admin/listings/#{@listing.id}", method: "put", class: "pure-form pure-form-aligned") do %>
         <fieldset>
            <input name ="update_type" type="hidden" value="status">
            <div class="pure-control-group">
               <label>Date Checked</label>
               <input name="date_checked" type="text" placeholder="Date Checked" value="<%= @listing.date_checked %>"/>
            </div>
            <div class="pure-control-group">
               <label>Checked By</label>
               <input name="who_checked" type="text" placeholder="Checked By" value="<%= @listing.who_checked %>"/>
            </div>
            <div class="pure-control-group">
               <label>Status</label>
               <select name="result" type="text">
                  <% ListingStatus.statuses.each do |s| %>
                     <% sel = ""
                        sel="selected" if s == @listing.listing_status.result %>
                     <option <%= sel %> val="<%= s %>"><%= s %></option>
                  <% end %>
               </select>
            </div>
            <div class="pure-control-group">
               <label>Actions</label>
               <input name="actions" type="text"
                  placeholder="Actions" value="<%= @listing.listing_status.actions %>"/>
            </div>
         </fieldset>
      <% end %>
      <div class="modal-controls">
          <button class="pure-button cancel">Cancel</button>
          <button class="pure-button submit">Submit</button>
      </div>
   </div>
</div>
