<div class='panel top-margin'>
   <div class='header'>
      <span>Cataloging Requests</span>
      <span class="header-buttons">
         <span class="icon-button add" data-target="cataloging-edit"></span>
      </span>
   </div>
   <div class='content'>
      <% if  @listing.cataloging_requests.count == 0 %>
         No catalog requests for this listing
      <% end %>
      <% @listing.cataloging_requests.each do |cr| %>
         <div class="catalog-request">
            <div class="card-buttons">
               <span class="icon-button edit" data-target="cataloging-edit" data-model="<%= cr.to_json(include: :barcode) %>"></span>
               <% if @listing.interventions.count == 0 && @listing.destinations.count == 0 %>
               <span class="icon-button trash" data-target-type="cataloging_request" data-target-id="<%= cr.id %>"></span>
               <% end %>
            </div>
            <div class="details">
               <table>
                  <tr>
                     <td class="label">Problems:</td>
                     <td class="data"><%= cr.problems %></td>
                  </tr>
                  <tr>
                     <td class="label">Sent Out:</td>
                     <td class="data"><%= cr.sent_out_on %></td>
                  </tr>
                  <tr>
                     <td class="label">Returned:</td>
                     <td class="data"><%= cr.returned_on %></td>
                  </tr>
                  <tr>
                     <td class="label">New Barcode:</td>
                     <% if cr.barcode.blank? %>
                        <td class="data">N/A</td>
                     <% else %>
                        <td class="data"><%= cr.barcode.barcode %></td>
                     <% end %>
                  </tr>
                  <tr>
                     <td class="label">Destination:</td>
                     <td class="data"><%= cr.destination %></td>
                  </tr>
               </table>
            </div>
         </div>
      <% end %>
   </div>
</div>
