<div class='panel right-margin top-margin'>
   <div class='header'>
      <span>Interventions</span>
      <% if logged_in? %>
         <span class="header-buttons">
            <span class="icon-button add"></span>
         </span>
         <% end %>
   </div>
   <div class='content'>
      <% if @listing.interventions.count == 0 %>
         No interventions for this listing
      <% end %>
      <% @listing.interventions.each do |i| %>
      <div class="intervention">
         <% if logged_in? %>
         <div class="card-buttons">
            <span class="icon-button edit" data-target="intervention-edit" data-model="<%= i.to_json(include: :details) %>"></span>
            <span class="icon-button trash" data-target-type="intervention" data-target-id="<%= i.id %>"></span>
         </div>
         <% end %>
         <div class="details">
            <table class="intervention">
               <tr>
                  <td class="label">Found:</td>
                  <td class="data"><%= i.found_at %> by <%= i.who_found.upcase %></td>
               </tr>
               <tr>
                  <td class="label">Special Interest:</td>
                  <td class="data"><%= i.special_interest %></td>
               </tr>
               <tr>
                  <td class="label">Special Problems:</td>
                  <td class="data"><%= i.special_problems %></td>
               </tr>
               <tr>
                  <td class="label">Intervention Types:</td>
                  <td class="data">
                     <% out = [] %>
                     <% i.details.each do |d| %>
                        <% out << "#{d.category} #{d.name}" %>
                     <% end %>
                     <%= out.join(", ") %>
                  </td>
               </tr>
            </table>
         </div>
      </div>
      <% end %>
   </div>
</div>
