<div class="listings-container">
   <div class="filter" data-default-page-size="<%= Figaro.env.hits_per_page %>">
      <table>
         <tr>
            <td class="label">Library:</td>
            <td class="choice">
               <%= select_tag "library", options_for_select(ShelfListing.libraries),
                   class: "chosen-select filter", id: "library-filter" %>
             </td>
             <td class="gap"/>
             <td class="label">Search for:</td>
             <td>
                <input id="query"/><span style="font-weight:bold">&nbsp;in:&nbsp;</span>
                <select id="query-fields">
                  <option value="all">All Fields</option>
                  <option value="internal_id">Index</option>
                  <option value="b.barcode">Barcode</option>
                  <option value="call_number">Call Number</option>
                  <option value="title">Title</option>
                  <option value="bookplate_text">Bookplate</option>
                  <option value="i.special_problems">Special Problems</option>
                  <option value="i.special_interest">Special Interest</option>
               </select>
               <label><input type="checkbox" id="full-word" checked/>&nbsp;Full Word</label>
             </td>
         </tr>
         <tr>
            <td class="label">Classification System:</td>
            <td class="choice">
               <select name="classification_system" id="system-filter" class="chosen-select filter">
                  <option value="Any">Any</option>
                  <option value="LC">Library of Congress</option>
                  <option value="Hicks">Hicks</option>
               </select>
            </td>
            <td class="gap"/>
            <td class="label">Interventions:</td>
            <td>
               <select id="intervention-filter" class="chosen-select filter">
                  <option value="All">All Listings</option>
                  <option value="None">No Interventions</option>
                  <option value="Any" selected>Any Intervention</option>
                  <option value="inscription">Any Inscription</option>
                  <option value="annotation">Any Annotation</option>
                  <option value="marginalia">Any Marginalia</option>
                  <option value="insertion">Any Insertion</option>
                  <option value="artwork">Any Artwork</option>
                  <option value="library">Any Library Intervention</option>
                  <% InterventionType.all.each do |t| %>
                     <option value="<%= t.id %>"><%= t.category.capitalize %>:&nbsp;<%= t.name.capitalize %></option>
                  <% end %>
               </select>
            </td>
         </tr>
         <tr>
            <td class="label">Classification:</td>
            <td class="choice">
               <%= select_tag "classification", options_for_select(ShelfListing.classifications),
                   class: "chosen-select filter", id: "class-filter" %>
            </td>
            <td class="gap"/>
            <td class="label">Status:</td>
            <td class="choice">
               <select id="status-filter" class="chosen-select filter"  style="width:100px;">
                  <option value="Any" selected>Any</option>
                  <% ListingStatus.statuses.each do |t| %>
                     <option value="<%= t %>"><%= t.capitalize %></option>
                  <% end %>
               </select>
            </td>
         </tr>
         <tr>
            <td class="label subclass">Subclassification: </td>
            <td class="choice subclass">
               <%= select_tag "subclassification", options_for_select(ShelfListing.subclassifications),
                   class: "chosen-select filter", id: "subclass-filter" %>
             </td>
             <td class="gap"/>
             <td colspan="2" class="filter-controls">
                <button id="filter" class="pure-button pure-button-primary">Filter</button>
                <button id="clear" class="pure-button pure-button-primary">Reset</button>
                <button id="csv" class="button-secondary pure-button">Download CSV</button>
                <% if logged_in? %>
                  <button id="add-listing" class="button-add pure-button">Add Listing</button>
               <% end %>
             </td>
         </tr>
         <tr>
      </table>
   </div>
   <table id="shelf-listings" class="display stripe" cellspacing="0" width="100%">
      <thead>
        <tr>
            <th>Index</th>
            <th>Barcode(s)</th>
            <th>Call Number</th>
            <th>Title</th>
            <th>Bookplate</th>
            <th>Library</th>
            <th>System</th>
            <th>Class</th>
            <th>Subclass</th>
            <th>Intervention?</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
   </table>
</div>
