<!DOCTYPE html>
<html>
  <head>
    <title>Book Traces</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
          integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w"
          crossorigin="anonymous">

    <%= javascript_include_tag 'application' %>

    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/buttons/1.3.1/css/buttons.dataTables.min.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/buttons/1.3.1/js/buttons.flash.min.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js"></script>

    <link rel="shortcut icon" href="http://booktraces.library.virginia.edu/wp-content/themes/uvalibraryblog_3/images/favicon.ico">
  </head>

  <body>
     <div class="main<% if @banner %> home<% end %>">
        <div class="header">
           <div class="uva-header<% if !@banner %> small<% end %>">
              <a href="http://www.library.virginia.edu/" target="_blank">
                 <%= image_tag "uvalogo.png" %>
              </a>
              <span class="booktraces"><a href="/">Book Traces @ UVA</a></span>
           </div>
           <% if @banner %>
              <%= image_tag "books.jpg", class:"banner pure-img" %>
           <% end %>
        </div>

         <%= yield %>

         <footer>
           <div class="address">
              <a href="http://www.library.virginia.edu/">University of Virginia Library</a><br>
              PO Box 400113, Charlottesville, VA 22904-4113<br>
              ph: (434) 924-3021, fax: (434) 924-1431, <a href="mailto:library@virginia.edu">library@virginia.edu</a>
           </div>
           <div class="external_links">
               <a href="http://www.library.virginia.edu/staff/">Staff Directory</a> | <a href="http://www.virginia.edu/">U.Va. Home</a> | <a href="http://its.virginia.edu/">ITS</a><br>
               <a href="mailto:site-feedback@virginia.edu?subject=U.Va.%20Library%20Site%20Feedback&amp;body=Thank%20you%20for%20your%20feedback!%20%20Are%20you%20having%20trouble%20finding%20information%20on%20the%20new%20Library%20site%20or%20have%20you%20encountered%20an%20error?%20Please%20let%20us%20know%20below.%0A%0APage%20you%20were%20on%3A%20https://tracksys.lib.virginia.edu/%0A%0AMy%20feedback%3A%20">Feedback</a>
               | <a href="http://www.library.virginia.edu/askalibrarian/">Questions? Ask a Librarian</a>
               <br>
               <a href="http://www.library.virginia.edu/site-search/">Site Search</a> | <a href="http://www.library.virginia.edu/hours/">Hours</a> | <a href="http://www.library.virginia.edu/map/">Map</a> | <a href="http://www.library.virginia.edu/policies/">Policies</a> | <a href="http://www.library.virginia.edu/press/">Press</a> | <a href="http://www.library.virginia.edu/jobs/">Jobs</a><br>
               <a href="http://www2.lib.virginia.edu/campaign/">Give to the Library</a>
               <p class="copy">
                  © 2017 by the Rector and Visitors of the <a href="http://www.virginia.edu/">University of Virginia</a>
               </p>
             </div>
             <div class="legal">
               <p class="gov"><a class="fdlp" href="http://guides.lib.virginia.edu/findinggovinfo"><span id="fdlp-badge"></span></a> This library is a Congressionally designated depository for <a href="http://guides.lib.virginia.edu/findinggovinfo">U.S. Government documents</a>. Public access to the Government documents is guaranteed by public law.</p>
             </div>
           </div>
         </footer>
     </div>
  </body>
</html>
